.button {
  border: none;
  background: $light-blue;
  color: $off-white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  line-height: 1;
  margin: 0.25rem;
  text-decoration: none;
}

.google-login,
.github-login {
  width: 15vw;
}

.github-login {
  background: $light-black;
}

.button--link {
  background: none;
}

.button--secondary {
  background: $mid-grey;
}