// Colors
$dark-grey: #333333;
$grey: #666;
$light-grey: #f7f7f7;
$mid-grey: #888888;
$light-blue: #2876be;
$dark-blue: #364051;
$off-white: #f3e9e9f5;
$light-black: #000000d3;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Font-size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;